{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <div class="text-center mt-2">
                <form action="{% url 'authentication:invite' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" name="submit" class="btn btn-primary" value="Send">

                </form>
            </div>


        </div>
    </div>
{% endblock %}