{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}

    <div class="profile">

        <form action="{% url 'authentication:settings' %}" method="post">
            <div class="row">

                <div class="col-md-12 ">
                    <div class="circle">
                        <!-- User Profile Image -->
                        <img class="profile-pic" src="{% static 'images/dummy-profile.png' %}">

                        <!-- Default Image -->
                        <!--                                 <i class="fa fa-user fa-5x"></i> -->
                    </div>
                    <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                        <input class="file-upload" type="file" accept="image/*"/>
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top: 3%;">
                <div class="col-md-5">
                    <h4>Basic Information</h4>

                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" name="first_name" class="form-control" value="{{ request.user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" name="first_name" class="form-control" value="{{ request.user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Company</label>
                        <input type="text" name="first_name"
                               class="form-control"
                               value="{% if request.user.company %}{{ request.user.company }}{% endif %}">
                    </div>
                </div>
                <div class="col-md-2"></div>

            </div>
            <div class="row" style="margin-top: 3%;">
                <div class="col-md-5">
                    <h4>Login Information</h4>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="first_name" class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" name="first_name" class="form-control">
                        <a href="#" class="change-pass">Change Password?</a>
                    </div>
                </div>
                <div class="col-md-2"></div>

            </div>
            <div class="row" style="">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn mybtn btn-submit tx-tfm" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
