{% extends 'authentication/layout.html' %}
{% load web_filters %}
{% load static %}

{% block content %}


    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <form action="{% url 'authentication:signup' %}" method="post" name="login">
                {% csrf_token %}
                {% if form.errors %}
                    <p>Please Correct the Errors Below</p>
                {% endif %}

                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">Error {{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if field.name == 'email' %}


                        <div class="form-group has-search">
                            <label for="{{ field.id_for_label }}">Email address</label>
                            <span class="fa fa-user form-control-feedback"></span>
                            <input type="email" name="email" class="form-control" id="{{ field.id_for_label }}"
                                   placeholder="user@domain.com">
                        </div>


{#                    {% elif field.name == 'username' %}#}


                    {% elif field.name == 'password1' %}

                        <div class="form-group has-search">
                            <label for="{{ field.id_for_label }}">Password</label>
                            <span class="fa fa-lock form-control-feedback"></span>
                            <input type="password" name="password1" class="form-control" id="{{ field.id_for_label }}"
                                   placeholder="********">

                            <div class="text-left">
                                <small>{{ field.help_text|safe }}</small>
                            </div>

                        </div>



                    {% elif field.name == 'password2' %}

                        <div class="form-group has-search">
                            <label for="{{ field.id_for_label }}">Password Confirmation</label>
                            <span class="fa fa-lock form-control-feedback"></span>
                            <input type="password" name="password2" class="form-control" id="{{ field.id_for_label }}"
                                   placeholder="********">

                        </div>



                    {% else %}


                        <div class="form-group">
                            <label for="{{ field.id_for_label }}"
                                   {% if field.field.required %}required{% endif %}>{{ field.label }}</label>

                            {{ field|addclass:'form-control' }}

                        </div>

                    {% endif %}



                {% endfor %}



                <div class="form-group text-center ">
                    <button type="submit" class=" btn btn-block mybtn btn-login tx-tfm">Sign Up</button>
                </div>

                <div class="form-group">
                    <p class="text-center singup-text">Have an account? Sign In Instead</p>
                </div>

                <div class="form-group text-center ">
                    <a href="{% url 'authentication:login' %}" class=" btn btn-block mybtn btn-signup tx-tfm">Sign
                        In</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
