# minimal
Django==2.1.7
Pillow==6.0.0

# tasks
celery==4.1.1
redis==3.2.0

# database drivers
psycopg2-binary==2.8.2

# utility extensions
django-extensions==2.1.3

# debugging
django-debug-toolbar==1.9.1
django-debug-toolbar-template-timings==0.9

# others
requests==2.21.0

# production
uWSGI==2.0.15
