# minimal
Django==2.1.15
Pillow==9.3.0

# tasks
celery==4.3.0
redis==3.3.11

# database drivers
psycopg2-binary==2.8.4

# utility extensions
django-extensions==2.2.6

# debugging
django-debug-toolbar==2.0
django-debug-toolbar-template-timings==0.9

# others
requests==2.22.0

# production
uWSGI==2.0.18
