{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <div class="text-center mt-2">
                <h1 class="h2">Password Reset 🎉</h1>
                <p class="lead">Your Password has been reset</p>
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email
                    you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and you could also check your spam folder.
                </p>
            </div>

        </div>
    </div>


{% endblock %}
