{% extends 'authentication/layout.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <div class="text-center mt-2">
            <h3 class="">Your password has been set.</h3>
            <p class="lead">
                You may go ahead and <a href="{% url 'authentication:login' %}">sign in</a> now.
            </p>
        </div>
    </div>

    </div>
{% endblock %}