{% extends 'authentication/layout.html' %}
{% load web_filters %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="col-md-12 text-center">
                <img src="{% static 'images/logo.png' %}" alt="" style="width: 100%;"/>
            </div>

            <div class="text-center mt-2">
                <h1 class="h2">Forgot password?</h1>
                <p class="lead">Enter your email address to reset</p>

            </div>


            <form method="post">
                {% if form.errors %}
                    <p>Please Correct the Errors Bellow</p>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">Error {{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        {{ field|addclass:'form-control' }}

                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                    Send reset link
                </button>
            </form>
        </div>
    </div>

{% endblock %}